<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<p>Hi <span th:text="${receiver_name}"></span>
	<p>Người gửi: <span th:text="${sender_name}"></span>
	<p>Đơn vị: <span th:text="${department_name}"></span>
	<p>Nhóm làm việc: <span th:text="${project_name}"></span>
	<p>Nội dung: <span th:text="${content}"></span>
	<p>Best Regards,</p>
	<p>
		<em> <span th:text="${sender_name}"></span> </em> <br />
	</p>
</body>

</html>